﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Nazwa aplikacji", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Projekty", "Index", "Project")</li>
                <li>@Html.ActionLink("Pracownicy", "Index", "Worker")</li>
                <li>@Html.ActionLink("Raport", "Contact", "Home")</li>
                <!-- OSTATNIE WPISY PRACOWNIKOW -->
                <!-- PROJEKTY KTORE ZOSTALY ZAKONCZONE W DANYM DNIU LUB SA W TRAKCIE -->
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
